
@{
    Layout = null;
}

@model Blog.Models.Post

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo</title>
</head>
<body>
    <form action="/post/adiciona" method="post">
        <label>
            Titulo: <input name="titulo" maxlength="50"	required value="@Model.Titulo" />
        </label>
        @Html.ValidationMessage("Titulo")
        <label>
            Resumo: <input name="resumo" required value="@Model.Resumo" />
        </label>
        @Html.ValidationMessage("Resumo")
        <label>
            Categoria: <input name="categoria" value="@Model.Categoria" />
        </label>
        @Html.ValidationMessage("Categoria")
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
